.ttt{
	width: 90%;
	margin: 0 auto;
}
.table{
	border-radius: 40rpx;
	height: 100rpx;
	width: 90%;
	display: flex;
	justify-content: center;
	background: #3462F7;
	align-items: center;
	color: #FFFFFF;
	position: fixed;
	z-index: 999;

	bottom: 50rpx;
}
page{
	background: #FBFBFB;
}
.yshou-page{
	width: 90%;
	margin: 0 auto;
	padding-top: 50rpx;
}
.card{
	padding-left: 30rpx;
	padding-top: 20rpx;
	background: #FFFFFF;
	box-shadow:0px 2px 2px #DCDCDC;
	margin-bottom: 30rpx;
}
.card-title{
	color: #474747;
	font-size: 25rpx;
}
.padding-top{
	padding-top: 10rpx;
}
.card-price{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
.card-price-1{
	margin-left: -10rpx;
	font-size: 45rpx;
	color: #FF5B5B;
}
.card-price-daoz{
	font-size: 25rpx;
	color: #4D4D4D;
	padding-right: 50rpx;
}
.card-date{
	color: #4D4D4D;
	font-size: 25rpx;
	display: flex;
	justify-content: flex-end;
	padding-right: 50rpx;
	padding-bottom: 45rpx;
}
.card-date-xq{
	padding-left: 20rpx;
}
.stats-text{
	display: flex;
	font-size: 25rpx;
	padding-top: 20rpx;
	color: #FFFFFF;
	margin-bottom: 30rpx;
}